<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="search.css" />
</head>
<body>
    <h1>Enter the Job Title</h1>
    <div class="search">
        <form action="/results" method="POST">
            <input size="130" type="text" placeholder="Enter the job title. Ex: python,javascript" name="search" required>
            <button>search</button>
        </form>
    </div>
</body>
</html> 