h3 {
  width: fit-content;
}

.objective__first > h3 {
  margin-top: 35%;
  flex: 3;
}

.objective__second {
  flex: 3;
}

.objective__second > p {
  color: #756969;
  margin-bottom: 0;
  text-align: justify;
}
